@{
    ViewData["Title"] = "Home Page";
}

<div class="MainText">
    <h1>Welcome at this WebMarket</h1>
    <p>Here you can buy some products
    </p>
</div>
<div class="wrapper">

@model IEnumerable<ProductModel>

        <h2 class="titleh2">Favorite Products</h2>
        <div class="products">
            @foreach (var product in Model)
            {
            if (product.IsFavorite == true) // Access the IsFavorite property from the product object
            {
            <figure>
                <img src="@product.Image" alt="product card">
                <div class="figure-card">
                    <h2>@product.ProductName</h2>
                    <p>@product.ShortDesc</p>
                    <p class="dnone">@product.FullDesc</p>
                    <p>Dimension: @product.Demention</p>
                    <p>Weight: @product.Weight</p>
                    <p class="cost">Cost: @product.Price$</p> <!-- Dynamically display price -->
                    <a class="link" href="@Url.Action("Details", "Product", new { id = product.Id })">Go to Product</a>
                </div>
                </figure>
            }
            }
        </div>

    </div>


