@model IEnumerable<ProductModel>

<div class="wrapper">
    @* <div class="tableForProducts"> *@
    @*     <table class="productstable"> *@
    @*         <tr class="thead"> *@
    @*             <td>Id</td> *@
    @*             <td>Name</td> *@
    @*             <td>Short description</td> *@
    @*             <td>Demention</td> *@
    @*             <td>Weight</td> *@
    @*             <td>isFavorite</td> *@
    @*             <td>Price</td> *@
    @*             <td>Delete</td> *@
    @*         </tr> *@
    @*         @foreach (var product in Model) *@
    @*         { *@
    @*         <tr> *@
    @*             <td>@product.Id</td> *@
    @*             <td>@product.ProductName</td> *@
    @*             <td>@product.ShortDesc</td> *@
    @*             <td>@product.FullDesc</td> *@
    @*             <td>@product.Demention</td> *@
    @*             <td>@product.Weight</td> *@
    @*             <td>@product.IsFavorite</td> *@
    @*             <td>@product.Price</td> *@
    @*             <td class="deleteProduct"> *@
    @*                 <form asp-action="Delete" method="post"> *@
    @*                     <label for="delete">delete</label> *@
    @*                     <input type="hidden" name="id" value="@product.Id"/> *@
    @*                     <button type="submit" id="delete" class="btn btn-danger"></button> *@
    @*                 </form> *@
    @*             </td> *@
    @*         </tr> *@
    @*         } *@
    @*         <tr> *@
    @*             <td></td> *@
    @*             <td class="linkForCreate" colspan="7"><a asp-controller="Product" asp-action="Create">Create</a></td> *@
    @*         </tr> *@
    @*     </table> *@
    @* </div> *@
    <div class="tableForProducts">
        <table class="productstable">
            <tr class="thead">
                <td>Id</td>
                <td>Name</td>
                <td>Short description</td>
                <td>Full description</td>
                <td>Demention</td>
                <td>Weight</td>
                <td>isFavorite</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
            @foreach (var product in Model)
            {
            <tr>
                <form asp-action="Edit" method="post">
                    <td>
                        @product.Id
                        <input type="hidden" name="Id" value="@product.Id" />
                    </td>
                    <td>
                        <input type="text" name="ProductName" value="@product.ProductName" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="ShortDesc" value="@product.ShortDesc" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="FullDesc" value="@product.FullDesc" class="form-control" />
                    </td>
                    <td>
                        <input type="text" name="Demention" value="@product.Demention" class="form-control" />
                    </td>
                    <td>
                        <input type="number" name="Weight" value="@product.Weight" class="form-control" />
                    </td>
                    <td>
                        <input type="checkbox" name="IsFavorite" value="true" @(product.IsFavorite ? "checked" : "") />
                    </td>
                    <td>
                        <input type="number" name="Price" value="@product.Price" step="0.01" class="form-control" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@product.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </form>
            </tr>
            }
            <tr>
                <td></td>
                <td class="linkForCreate" colspan="7"><a asp-controller="Product" asp-action="Create">Create</a></td>
            </tr>
        </table>
    </div>

</div>